<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Bellon</title>
    <link rel="stylesheet" href="/public/css/form.css">
</head>
<body>
    <div class="main-container">
        <div class="card">
            <div class="left-side">
                <h2>LOGIN</h2>
                <div class="input-box">
                    <input type="text" placeholder="nombre">
                </div>
                <div class="input-box">
                    <input type="password" placeholder="contraseña">
                </div>
                <button class="login-btn">Login Now</button>
                <a href="#" class="footer-link">¿No tienes cuenta? Pulsa aquí</a>
            </div>
            <div class="right-side">
                <div class="logo-container">
                    <img src="/public/img/logo.png" alt="Bellon">
                    <p class="slogan">Encuentras más de lo que buscas</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>