* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto; 
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; 
}

.left-side h2 {
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 2px;
    color: #333;
    text-align: center;
}

.input-box {
    width: 100%;
    max-width: 400px; 
    background-color: #f0f2ff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 15px;
}

.input-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    object-fit: contain;
    opacity: 0.5; 
}

.input-box input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.95rem;
    color: #444;
}

.login-btn {
    width: 100%;
    max-width: 400px; 
    padding: 14px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(135deg, #d37300, #b35a00);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(211, 115, 0, 0.3);
    transition: all 0.3s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(211, 115, 0, 0.4);
}

.footer-link {
    margin-top: 30px;
    color: #48cae4;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
}

.right-side {
    flex: 1;
    background-image: url('/public/img/ta.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    background-color: #fff;
    width: 60%; 
    padding: 45px 25px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.logo-container img {
    max-width: 85%;
    height: auto;
    margin-bottom: 5px;
}

.slogan {
    font-size: 0.75rem;
    font-style: italic;
    color: #444;
    text-align: right;
    width: 90%;
    margin: 0 auto;
}

/* --- SECCIÓN RESPONSIVE (MÓVIL) --- */

@media (max-width: 768px) {
    .card {
        flex-direction: column; 
        height: auto;
    }

    .right-side {
        height: 300px; 
        width: 100%;
        order: 1; 
    }

    .left-side {
        width: 100%;
        order: 2; 
        padding: 40px 20px;
    }

    .logo-container {
        width: 80%;
        padding: 20px;
        border-radius: 20px;
    }
}



